.flex-container {
    display: flex;
    width: 45vw;
    height: 25rem;
  }
  
  @media (max-width: 768px) {
    .flex-container {
      width: 100% !important;
    }
  }
  
  @media (max-width: 992px) {
    .flex-container {
      width: 100% !important;
    }
  }
  